Repository ThoughtWorksInc/daffy: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, dprint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        require_serial: true
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        require_serial: true
      - id: dprint
        name: dprint
        entry: dprint fmt
        language: system
        types: [markdown]

Fix CI workflow to trigger on main branch instead of master
  .github/workflows/main.yml
Due: none

Replace broken DataFrameType with narwhals IntoDataFrame
  daffy/dataframe_types.py
  daffy/decorators.py
  daffy/row_validation.py
  daffy/utils.py
  daffy/validation.py
  tests/conftest.py
  tests/test_df_in.py
  tests/test_df_log.py
  tests/test_df_out.py
  tests/test_type_compatibility.py
Due: ruff-format, ruff-check

Bump version to 2.3.1
  CHANGELOG.md
  pyproject.toml
Due: dprint

Use Any for internal function parameters, keep IntoDataFrame for public API
  daffy/dataframe_types.py
  daffy/row_validation.py
  daffy/utils.py
  daffy/validation.py
  tests/test_df_in.py
Due: ruff-format, ruff-check

Remove unused DataFrame imports (fix vulture warnings)
  daffy/dataframe_types.py
Due: ruff-format, ruff-check

Fix type errors reported by ty type checker
  daffy/decorators.py
  daffy/validation.py
Due: ruff-format, ruff-check

Harden GitHub Actions workflows based on zizmor audit
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

Add FUNDING.yml with thanks.dev and Buy Me a Coffee
  .github/FUNDING.yml
Due: none

fix funding link
  .github/FUNDING.yml
Due: none

Add min_rows parameter to @df_out
  daffy/decorators.py
  daffy/validation.py
  tests/test_shape_validation.py
Due: ruff-format, ruff-check

Add min_rows parameter to @df_in
  daffy/decorators.py
  tests/test_shape_validation.py
Due: ruff-format, ruff-check

Add max_rows parameter to decorators
  daffy/decorators.py
  daffy/validation.py
  tests/test_shape_validation.py
Due: ruff-format, ruff-check

Add exact_rows parameter to decorators
  daffy/decorators.py
  daffy/validation.py
  tests/test_shape_validation.py
Due: ruff-format, ruff-check

Add allow_empty config option
  daffy/config.py
  daffy/decorators.py
  daffy/validation.py
  tests/test_shape_validation.py
Due: ruff-format, ruff-check

Add lazy mode integration for shape validation and docs
  CHANGELOG.md
  daffy/decorators.py
  daffy/validation.py
  docs/advanced.md
  tests/test_shape_validation.py
Due: ruff-format, ruff-check, dprint

Improve shape validation code quality and test coverage
  daffy/decorators.py
  daffy/validation.py
  tests/test_shape_validation.py
Due: ruff-format, ruff-check

Add tests for boundary conditions and default parameters
  tests/test_config.py
  tests/test_row_validation.py
Due: ruff-format, ruff-check

Add property-based tests for mathematical invariants
  CHANGELOG.md
  pyproject.toml
  tests/test_hypothesis_pilot.py
Due: ruff-format, ruff-check, dprint

Bump version to 2.4.0
  pyproject.toml
Due: none

Migrate documentation from MkDocs to Zensical
  .readthedocs.yaml
  docs/changelog.md
  docs/requirements.txt
  mkdocs.yml
  pyproject.toml
  zensical.toml
Due: dprint

Fix card grid syntax for Zensical
  docs/index.md
Due: dprint

Fix pipe escaping in API docs tables for Zensical
  docs/api.md
Due: dprint

Use block syntax for card grids (dprint compatible)
  docs/index.md
Due: dprint

Flatten API docs heading hierarchy
  docs/api.md
Due: dprint

Pin zensical to exact version
  docs/requirements.txt
  pyproject.toml
Due: none

Address PR review comments
  docs/changelog.md
  zensical.toml
Due: dprint

Revert duplicate changelog heading
  docs/changelog.md
Due: dprint

Replace Vulture with Skylos for dead code detection
  .github/workflows/main.yml
  daffy/dataframe_types.py
  daffy/pydantic_types.py
  pyproject.toml
  renovate.json
Due: ruff-format, ruff-check

remove leftover pydocstyle
  pyproject.toml
  renovate.json
Due: none

Fix Skylos pragma syntax by removing trailing text
  daffy/dataframe_types.py
  daffy/pydantic_types.py
Due: ruff-format, ruff-check

Apply Ruff auto-fixes for new ALL rules
  daffy/__init__.py
  daffy/checks.py
  daffy/config.py
  daffy/dataframe_types.py
  daffy/decorators.py
  daffy/patterns.py
  daffy/row_validation.py
  daffy/utils.py
  daffy/validation.py
  scripts/benchmark_bioinformatics.py
  scripts/benchmark_row_validation.py
  scripts/profile_validation.py
  scripts/test_isolated_deps.py
  tests/conftest.py
  tests/test_config.py
  tests/test_row_validation.py
  tests/test_type_compatibility.py
  tests/utils.py
Due: ruff-format, ruff-check

Refactor validate_dataframe to reduce complexity
  daffy/validation.py
Due: ruff-format, ruff-check

Fix unused variable warnings and improve pytest.raises
  pyproject.toml
  tests/test_checks.py
  tests/test_custom_checks.py
Due: ruff-format, ruff-check

Use pathlib and add noqa for intentional patterns
  daffy/checks.py
  daffy/config.py
  daffy/dataframe_types.py
  daffy/decorators.py
  daffy/narwhals_compat.py
  daffy/patterns.py
  daffy/row_validation.py
  daffy/utils.py
  daffy/validation.py
  pyproject.toml
  scripts/benchmark_bioinformatics.py
  scripts/benchmark_row_validation.py
  scripts/profile_validation.py
  scripts/test_isolated_deps.py
  tests/test_config.py
  tests/test_df_in.py
  tests/test_hypothesis_pilot.py
  tests/test_shape_validation.py
Due: ruff-format, ruff-check

Enable ALL Ruff rules with selective ignores
  pyproject.toml
Due: none

Extract try/except from loop to fix PERF203
  daffy/row_validation.py
Due: ruff-format, ruff-check

Remove unnecessary TRY300 noqa comments
  daffy/config.py
  daffy/narwhals_compat.py
Due: ruff-format, ruff-check

Bump version to 2.4.1
  CHANGELOG.md
  pyproject.toml
Due: dprint

Fix type annotation for _process_dict_column_spec parameter
  daffy/validation.py
Due: ruff-format, ruff-check

Simplify pytest.mark.parametrize single-parameter syntax
  tests/test_df_in.py
Due: ruff-format, ruff-check
